<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es"
      xmlns:fb="http://www.facebook.com/2008/fbml"
      xmlns:og="http://ogp.me/ns#">
<head>
  <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
  <meta name="keywords" content="Busqueda por región, ubicación, zona, lugar, especies, estados, municipios, ANP, registros">
  <title><%= yield :title %></title>
  <%= favicon_link_tag '/favicon.ico' %>

  <script type="text/javascript" data-turbolinks-track="true">
      IP = "<%= IP %>";
      PORT = "<%= PORT %>";
  </script>

  <script src="https://d3js.org/d3.v3.min.js" data-turbolinks-track="true"></script>
  <script src="http://d3js.org/topojson.v1.min.js" data-turbolinks-track="true"></script>
  <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js" data-turbolinks-track="true"></script>
  <script src="https://unpkg.com/leaflet.markercluster@1.2.0/dist/leaflet.markercluster.js" data-turbolinks-track="true"></script>
  <script src="https://unpkg.com/leaflet.featuregroup.subgroup@1.0.2/dist/leaflet.featuregroup.subgroup.js" data-turbolinks-track="true"></script>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'busquedas/region/por_region', 'data-turbolinks-track' => true %>

  <script type="text/javascript" data-turbolinks-track="true">
      I18n.defaultLocale = "<%= CONFIG.default_locale.to_s %>";
      I18n.locale = "<%= I18n.locale %>";
      I18n.fallbacks = true;
  </script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
  <link rel="stylesheet" href="https://leaflet.github.io/Leaflet.markercluster/dist/MarkerCluster.css" />
  <%= stylesheet_link_tag 'busquedas/region/por_region', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <%= yield :extrahead %>
  <%= yield :extracss %>
  <%= yield :extrajs %>
</head>
<body>

<%= yield :ribbon %>

<header class="container-fluid navbar navbar-fixed-top">
  <%# render :partial => 'shared/brandBar' %>
  <div id="brandBar" class="row">
    <%= render(:partial => 'shared/dropdown_menu') %>

    <div class="col-xs-5 col-sm-5 col-md-2 col-lg-2 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
      <%= link_to "<i class ='enciclo-ev-icon'></i><i class ='vida-ev-icon'></i>".html_safe, root_path, :class => '', data: { turbolinks: false }  %>
    </div>
    <div class="col-xs-5 col-sm-4 col-md-2 col-lg-2 col-xs-offset-0 col-sm-offset-1 col-md-offset-0 col-lg-offset-0">
      <%= link_to "<i class ='conabio_completo-ev-icon'></i>".html_safe, "http://www.biodiversidad.gob.mx/", :class => '', target: :_blank  %>
    </div>
    <div id="busqueda_basica" class="col-xs-12 col-sm-12 col-md-5 col-lg-5 col-xs-offset-0 col-sm-offset-0 col-md-offset-1 col-lg-offset-1 ">
      <%=  render :partial => 'shared/tituloBuscador', locals: {icon_class: 'busqueda-region', titulo: 'Búsqueda por región', subtitulo: 'Selecciona una región (doble clic)'} %>
      <%# render(:template => 'busquedas/basica') unless @no_render_busqueda_basica.present? %>
    </div>

  </div>

</header>

<!--header class="container-fluid"-->
  <%#= yield :extra_title_header %>
<!--/header-->

<section id="content" class="container-fluid">
  <%= yield %>
</section>

<footer class="social">
  <%= render :partial => 'shared/footer_social' %>
</footer>

<footer class="legal">
  <%= render :partial => 'shared/footer_legal' %>
</footer>

<% if Rails.env.production? %>
  <script src="http://bdi.conabio.gob.mx/fotoweb/googleAnalytics.js"></script>
<% end %>

<%= yield :delayedjs %>

</body>
</html>